{% extends "layout.html" %}
{% block content %}
  {% for entry in entries %}
    <div class="element">
      <div class="info">
	<p class="vid">{{ entry.getID() }}</p>
	<div class="debuginfo">
	  <p>{{ entry.getTSStr() }}</p>
	</div>
      </div>
      <div class="maincontent">
	<div class="itempresenter">
	  {{ entry.getHTML(dbcollection=collection)|safe }}
	</div>
	<div class="itemeditor" style="display:none" >
	  <textarea rows="5" cols="40"></textarea>
	</div>
      </div>
      <div class="actions">
	<input class="editbutton" type="image" src="/static/pic/pencil.png" />
	<input class="savebutton" type="image" src="/static/pic/accept.png" />
	<input class="insertbelowbutton" alt="insert below" type="image" src="/static/pic/table_row_insert.png" />
	<input class="insertabovebutton" text="insert above" type="image" src="/static/pic/table_row_insert.png" />
<!--	
	<input class="editbutton" type="button" value="Edit" />
	<input class="savebutton" type="button" value="Save" />
	<input class="insertbelowbutton" type="button" value="+below" />
	<input class="insertabovebutton" type="button" value="+above" />
-->
      </div>
    </div>
  {% endfor %}
{% endblock %}
